# Servidor
PORT=4000

# Base de datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=tu_usuario_mysql
DB_PASSWORD=tu_password_mysql
DB_NAME=nevolux

# JWT
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_secreta
JWT_EXPIRES=8h

# Dominio institucional permitido para registro
DOMINIO_PERMITIDO=alumno.utpuebla.edu.mx

# Cuenta de administrador (se crea sola al iniciar el servidor si no existe)
ADMIN_NOMBRE=Administrador
ADMIN_EMAIL=tu_correo_admin@alumno.utpuebla.edu.mx
ADMIN_PASSWORD=cambia_esta_contraseña

# Correo para notificaciones (usa una cuenta de app password, no tu contraseña real)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password
