# Servidor
PORT=4000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=nevolux

# JWT
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_secreta
JWT_EXPIRES=8h

# Dominio institucional permitido para registro
DOMINIO_PERMITIDO=alumno.utpuebla.edu.mx

# Cuenta de administrador (se crea sola al iniciar el servidor si no existe)
ADMIN_NOMBRE=Administrador
ADMIN_EMAIL=utp0139797@alumno.utpuebla.edu.mx
ADMIN_PASSWORD=pato123#

# Correo para notificaciones (usa una cuenta de app password, no tu contraseña real)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password
